langgraph
langchain
langchain-google-genai
fastapi
uvicorn
pydantic
pydantic-settings
psycopg2-binary
python-dotenv
requests
streamlit
langchain-community
langchain-huggingface
langchain-core
langchain-postgres
pgvector
sentence-transformers
transformers
SpeechRecognition
python-multipart
presidio-analyzer
presidio-anonymizer
pdfplumber
rank-bm25
youtube-transcript-api
pydub
pillow
pytesseract
pytest
httpx
langdetect
sentencepiece
numexpr
pypdf
langchain-openai
